.calc {
  max-width: 800px;
}

.solution-container {
  border-radius: 20px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  font-size: 2rem;
}

.theme-one .solution-container,
.theme-one .keys-container {
  background-color: var(--one-toggle-background);
}

.theme-two .keys-container {
  background-color: var(--two-toggle-background);
}

.theme-two .solution-container {
  background-color: var(--two-main-background);
}

.theme-three .solution-container,
.theme-three .keys-container {
  background-color: var(--three-main-background);
}

.keys-container {
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  font-size: 2rem;
  margin-top: 20px;
  padding: 20px;
}

.key {
  height: 75px;
  border-radius: 20px;
  font-size: 2rem;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-left: none;
  border-top: none;
  border-right: none;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

.equal-key {
  grid-column: span 2;
}

.theme-one .equal-key {
  background-color: var(--one-red);
  border-bottom: 4px solid var(--one-dark-red);
  color: var(--text-white);
}

.theme-two .equal-key {
  background-color: var(--two-orange);
  border-bottom: 4px solid var(--two-dark-orange);
  color: var(--text-white);
}

.theme-three .equal-key {
  background-color: var(--three-toggle);
  border-bottom: 4px solid hsl(177, 92%, 70%);
  color: hsl(198, 20%, 13%);
}

.theme-one .num-key {
  background-color: var(--one-light-orange);
  border-bottom: 4px solid var(--one-orange);
  color: var(--one-text-blue);
}

.theme-two .num-key {
  background-color: var(--two-light-grey-yellow);
  border-bottom: 4px solid var(--two-dark-greyish-yellow);
  color: var(--two-text-yellow);
}

.theme-three .num-key {
  background-color: hsl(268, 47%, 21%);
  border-bottom: 4px solid hsl(290, 70%, 36%);
  color: var(--three-text-yellow);
}

.reset-key {
  grid-column: span 2;
}

.theme-one .delete-key,
.theme-one .reset-key {
  background-color: var(--one-blue-key-background);
  border-bottom: 4px solid var(--one-blue-key-shadow);
  color: var(--text-white);
}

.theme-two .delete-key,
.theme-two .reset-key {
  background-color: var(--two-dark-cyan);
  border-bottom: 4px solid var(--two-very-dark-cyan);
  color: var(--text-white);
}

.theme-three .delete-key,
.theme-three .reset-key {
  background-color: hsl(281, 89%, 26%);
  border-bottom: 4px solid var(--three-vivid-magenta);
  color: var(--text-white);
}
