.calc {
  max-width: 800px;
}

.solution-container {
  border-radius: 10px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  font-size: 2rem;
}

.theme-one .keys-container {
  background-color: var(--one-toggle-background);
}
.theme-one .solution-container {
  background-color: var(--one-screen-background);
}

.theme-two .keys-container {
  background-color: var(--two-toggle-background);
}
.theme-two .solution-container {
  background-color: var(--two-screen-background);
}

.theme-three .solution-container,
.theme-three .keys-container {
  background-color: var(--three-main-background);
}

.keys-container {
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  margin-top: 20px;
  padding: 20px;
}

@media (max-width: 800px) {
  .keys-container {
    column-gap: 10px;
    row-gap: 15px;
  }
}

.key {
  height: 75px;
  border-radius: 10px;
  font-size: 2rem;
  justify-content: center;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

.equal-key {
  grid-column: span 2;
}

.theme-one .equal-key {
  background-color: var(--one-red);
  border-bottom: 4px solid var(--one-dark-red);
  color: var(--text-white);
}

.theme-one .equal-key:active {
  background-color: #f96c5b;
}

.theme-two .equal-key {
  background-color: var(--two-orange);
  border-bottom: 4px solid var(--two-dark-orange);
  color: var(--text-white);
}

.theme-two .equal-key:active {
  background-color: #ff8b38;
}

.theme-three .equal-key {
  background-color: var(--three-toggle);
  border-bottom: 4px solid var(--three-light-blue);
  color: var(--three-blue);
}

.theme-three .equal-key:active {
  background-color: #94fff9;
}

.theme-one .num-key {
  background-color: var(--one-light-orange);
  border-bottom: 4px solid var(--one-orange);
  color: var(--one-text-blue);
}

.theme-one .num-key:active {
  background-color: #ffffff;
}

.theme-two .num-key {
  background-color: var(--two-light-grey-yellow);
  border-bottom: 4px solid var(--two-dark-greyish-yellow);
  color: var(--two-text-yellow);
}

.theme-two .num-key:active {
  background-color: #ffffff;
}

.theme-three .num-key {
  background-color: var(--three-num-background);
  border-bottom: 4px solid var(--three-num-shadow);
  color: var(--three-text-yellow);
}

.theme-three .num-key:active {
  background-color: #6b34ac;
}

.reset-key {
  grid-column: span 2;
}

.theme-one .delete-key,
.theme-one .reset-key {
  background-color: var(--one-blue-key-background);
  border-bottom: 4px solid var(--one-blue-key-shadow);
  color: var(--text-white);
}

.theme-one .delete-key:active,
.theme-one .reset-key:active {
  background-color: #a2b3e1;
}

.theme-two .delete-key,
.theme-two .reset-key {
  background-color: var(--two-dark-cyan);
  border-bottom: 4px solid var(--two-very-dark-cyan);
  color: var(--text-white);
}

.theme-two .delete-key:active,
.theme-two .reset-key:active {
  background-color: #62b5bd;
}

.theme-three .delete-key,
.theme-three .reset-key {
  background-color: var(--three-dark-violet);
  border-bottom: 4px solid var(--three-vivid-magenta);
  color: var(--text-white);
}

.theme-three .delete-key:active,
.theme-three .reset-key:active {
  background-color: #8631b0;
}
