:root {
  --white: hsl(0, 0%, 100%);

  --one-text-blue: hsl(221, 14%, 31%);
  --one-screen-background: hsl(224, 36%, 15%);
  --one-main-background: hsl(222, 26%, 31%);
  --one-toggle-background: hsl(223, 31%, 20%);
  --one-red: hsl(6, 63%, 50%);
  --one-dark-red: hsl(6, 70%, 34%);
  --one-light-orange: hsl(30, 25%, 89%);
  --one-orange: hsl(28, 16%, 65%);
  --one-blue-key-background: hsl(225, 21%, 49%);
  --one-blue-key-shadow: hsl(224, 28%, 35%);
  --one-equal-active: #f96c5b;
  --one-del-active: #a2b3e1;

  --two-text-yellow: hsl(60, 10%, 19%);
  --two-screen-background: hsl(0, 0%, 93%);
  --two-main-background: hsl(0, 0%, 90%);
  --two-toggle-background: hsl(0, 5%, 81%);
  --two-orange: hsl(25, 98%, 40%);
  --two-dark-orange: hsl(25, 99%, 27%);
  --two-light-grey-yellow: hsl(45, 7%, 89%);
  --two-dark-greyish-yellow: hsl(35, 11%, 61%);
  --two-dark-cyan: hsl(185, 42%, 37%);
  --two-very-dark-cyan: hsl(185, 58%, 25%);
  --two-equal-active: #ff8b38;
  --two-del-active: #62b5bd;

  --three-text-yellow: hsl(52, 100%, 62%);
  --three-screen-background: hsl(268, 75%, 9%);
  --three-main-background: hsl(268, 71%, 12%);
  --three-toggle: hsl(176, 100%, 44%);
  --three-dark-violet: hsl(281, 89%, 26%);
  --three-vivid-magenta: hsl(285, 91%, 52%);
  --three-blue: hsl(198, 20%, 13%);
  --three-light-blue: hsl(177, 92%, 70%);
  --three-num-background: hsl(268, 47%, 21%);
  --three-num-shadow: hsl(290, 70%, 36%);
  --three-equal-active: #94fff9;
  --three-num-active: #6b34ac;
  --three-del-active: #8631b0;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.App {
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

.app-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.theme-one {
  color: var(--white);
  background-color: var(--one-main-background);
}

.theme-two {
  color: var(--two-text-yellow);
  background-color: var(--two-main-background);
}

.theme-three {
  color: var(--three-text-yellow);
  background-color: var(--three-screen-background);
}
